@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
}

/* Styling for each movie item */
li {
  flex: 1 0 21%;
  /* 21% will allow for 4 items per row, adjust as needed */
  margin: 1.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  /* adjust as needed */
}

li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Styling for the movie poster */
li img {
  width: 100%;
  height: auto;
}

.movie-details-container {
  display: flex;
  align-items: flex-start;
}

.movie-details-container img {
  margin-right: 20px;
}