@import-normalize; /* bring in normalize.css styles */

body {
  margin: 20px;
  /* Add a margin around the entire body */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin: 0 10px;
  width: auto;
}

.titleHeading {
  text-align: center;
}

.centeredContent {
  text-align: center;
}



ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
}

/* Styling for each movie item */
li {
  /*flex: 1 0 21%;*/
  margin: 1.5%;
  transition: 0.3s;
  width: 200px;
}

li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Styling for the movie poster */
li img {
  width: 100%;
  height: auto;
}

.movie-details-container {
  display: flex;
  flex-direction: row;
}

.movie-details-container img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.movie-details {
  flex-grow: 1;
}

.Cast li img {
  width: 100px;
  height: auto;
}

.infoButton {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.infoButton li {
  margin: 0 10px;
  width: auto;
}

.movie-poster {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 600px) {
  .movie-poster {
    max-width: 250px;
  }
}